<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="author" content="sone" />
    <meta name="email" content="sone47.china@gmail.com">
    <meta name="description" content="个人项目,游戏,HTML5,CSS3,JavaScript学习中.">
    <title>About me</title>
    <script type="text/javascript" src="./javascripts/Sone.js"></script>
    <script type="text/javascript" src="./javascripts/sone_drag.js"></script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/about.css">
    <link rel="shortcut icon" href="images/head/head0.png" />
    <link href="images/head/head1.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>
    <!-- 头部 -->
    <header id="header">
        <div class="header">
            <!-- 导航 -->
            <a class="nav-btn">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <nav class="nav" id="nav">
                <ul class="nav-content">
                    <li class="nav-li"><a href="/">Home</a></li>
                    <li class="nav-li"><a href="/article">Blogs</a></li>
                    <li class="nav-li"><a href="/project">Demos</a></li>
                    <li class="nav-li"><a href="/about">About me</a></li>
                </ul>
                <div class="nav_bg"></div>
            </nav>
            <h1 class="logo">Sone</h1>
        </div>
    </header>

    <!-- 锁屏 -->
    <div id="screen"></div>

    <!-- 名片 -->
    <div id="main">
        <ul class="pc">
            <li><span>Name : </span><a href="http://nansone.com">Sone</a></li>
            <li><span>Twitter : </span><a href="https://twitter.com/sonezeng47">@sonezeng47</a></li>
            <li  class="weixin">
                <span>Weixin : </span><a href="images/weixin.jpg">back_streetZ<div><span>扫描二维码<br>添加我的微信</span></div></a>
            </li>
            <li><span>Facebook : </span><a href="https://www.facebook.com/zeng.sone">Sone Tseng</a></li>
            <li><span>Weibo : </span><a href="http://weibo.com/274189892">软惊天动地</a></li>
            <li><span>Email : </span><a href="mailto:sone47.china@gmail.com">sone47.china@gmail.com</a></li>
        </ul>
        <ul class="mobile">
            <li><a href="/"><span>Name : </span>Sone</a></li>
            <li><a href="https://twitter.com/sonezeng47"><span>Twitter : </span>@sonezeng47</a></li>
            <li  class="weixin">
                <a href="images/weixin.jpg"><span>Weixin : </span>back_streetZ</a>
            </li>
            <li><a href="https://www.facebook.com/zeng.sone"><span>Facebook : </span>Sone Tseng</a></li>
            <li><a href="http://weibo.com/274189892"><span>Weibo : </span>软惊天动地</a></li>
            <li><a href="mailto:sone47.china@gmail.com"><span>Email : </span>sone47.china@gmail.com</a></li>
        </ul>
    </div>

    <!-- 分享侧栏 -->
    <div id="share">
        <h2>分享到</h2>
        <ul>
            <li><a href="javascript:void(0);" class="mshare">一键分享</a></li>
            <li><a href="javascript:void(0);" class="qzone">QQ空间</a></li>
            <li><a href="javascript:void(0);" class="weibo">新浪微博</a></li>
            <li><a href="javascript:void(0);" class="tieba">百度贴吧</a></li>
            <li><a href="javascript:void(0);" class="douban">豆瓣网</a></li>
            <li><a href="javascript:void(0);" class="weixin">微信</a></li>
            <li><a href="javascript:void(0);" class="instagram">Instagram</a></li>
            <li><a href="javascript:void(0);" class="facebook">Facebook</a></li>
            <li><a href="javascript:void(0);" class="twitter">Twitter</a></li>
        </ul>
        <div><a href="javascript:void(0);" class="more">更多...</a></div>
        <span>分享</span>
    </div>

    <!--版权部分-->
    <footer id="footer">
        Learn more and know less.
        <span>By <a href="http://nansone.com/about">Sone</a></span>
        <small>©2016-2017</small>
    </footer>
    
    <script type="text/javascript" src="./javascripts/base.js"></script>
    <script type="text/javascript" src="./javascripts/about.js"></script>
</body>
</html>