/*
 * 导航菜单
 */
#nav .nav_bg{
    left: 255px;
}

/*
 * 主要部分
 */
#main{
    width: 500px;
    height: 300px;
    border: 1px solid #CCC;
    margin: 60px auto 20px;
    background: #FFF;
    overflow: visible;
}
#main .pc li{
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-indent: 50px;
    background: url("../images/arrow-passage.gif") no-repeat 50px 18px;
}
#main .pc li>span{
    display: inline-block;
    width: 150px;
    height: 50px;
}
#main .pc li a:hover{
    text-decoration: underline;
}
#main .pc li.weixin{
    position: relative;
}
#main .pc li.weixin div{
    background-color: #FFF;
    background-image: url("../images/weixin.jpg");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 10px 40px;
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 290px;
    top: 20px;
    border: 1px solid #EEE;
    line-height: 20px;
    text-align: center;
    text-indent:0;
    transition: all 0.5s;
}
#main .pc li.weixin div span{
    width: 74px;
    color: #999;
    font-size: 12px;
    position: absolute;
    top:0;
    left:50px;
}
#main .pc li.weixin a:hover div{
    height: 200px;
    width: 170px;
    opacity: 1;
}
#main .mobile{
    display: none;
}

/*响应式*/
@media only screen and (max-width: 960px){
    #main{
        margin-top: 90px;
    }
}
@media only screen and (max-width: 600px){
    #main{
        width: 100%;
        height: 300px;
        margin: 50px auto 0 auto;
        border:none;
    }
    #main .pc{
        display: none;
    }
    #main .mobile{
        display: block;
    }
    #main .mobile li{
        width: 100%;
        height: 49px;
        line-height: 49px;
        text-indent: 20px;
        border-bottom: 1px solid #eee;
    }
    #main .mobile li:last-child{
        height: 50px;
        line-height: 50px;
        border-bottom: none;
    }
    #main .mobile li span{
        display: inline-block;
        width: 100px;
        height: 50px;
    }
    #main .mobile li a{
        display: block;
    }
}